/*background colour each webpage's body*/
body{
  background-color: #FFFFFF;
}

/*header on each page*/
.header{
  width: 100%;
  height: auto;
  background-color: #00FFFF;
  margin: 0%;
  margin-top: 0%;
}


.topnav {
 overflow: hidden;
 background-color: #333;
}

.topnav a {
 float: left;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

.topnav a:hover {
 background-color: #ffffff;
 color: black;
}

.description_text{
  border-style: groove;
  border-color: #000000;
  margin-top: 500px;
  border-width: medium;
}

/*the logo image's dimensions*/
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:10%;
  height: 10%;
}

img.left-img{
  margin-left: 10px;
}

/*3 word creative writing text on main home page*/
h1.creative-text{
  font-size: 28px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

/*Each specific words colours*/
#wrd-fun{
  color: #ff0000;
}

#wrd-interactive{
  color: #18f400;
}

#wrd-learning{
  color: #0148ff;
}

/* border around login-form */
.login-container {
 margin: auto;
  margin-top: -400px;
  margin-left: 200px;
 width: 300px;
 padding: 20px;
 background-color: #00BFFF;
 border-style: groove;
 border-radius: 5px;
}

/*Homepage image banner sized image*/
.home-image{
  width:100%;
  height: auto;
  margin-top: 150px;
}

/* border around signup-form */
.signup-container {
 max-width: 500px;
 padding: 16px;
 background-color: white;
 border-style: groove;
 border-radius: 5px;
 float: left;
 margin-left: 5%;
}

/* Sign up form pop modal properties */
.signupmodal_container{
    width:100%;
    height:120%;
    pointer-events: none;
    opacity: 0;
    position:absolute;
    background: #FFEBCD;
    transition:all 500ms ease;
}

.signupmodal_container:target{
    opacity:1;
    pointer-events: auto;
}

.signupmodal_container > div{
  transform: translate(0px, -50px);
	transition: all 500ms ease;
}

.signupmodal_container:target > div{
    transform: translate(0px, 0px);
}

.signupmodal{
    width:400px;
    height:750px;
    margin:auto;
    position: absolute;
    top:0px; bottom:0px;
    right:0px; left:0px;
    background-color: white;
    border:2px solid #222;
    padding:20px;
}

.close{
    color:white;
    position: absolute;
    border:2px solid #333;
    padding:7px 9px 11px 9px;
    font-family: big john;
    background: black;
    text-decoration: none;
    top:-20px;
    right:-20px;
    border-radius: 50%;
    transition: background 500ms;
}

/* taster questions container */
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}

.answers label{
  display: block;
  margin-bottom: 10px;
}

/* buttons for the trial questions*/
#next{
  margin-left: 150px;
}

#submit{
  margin-left: 150px;
}

#results{
  margin-left: 350px;
}

/*Starting the quiz button*/
.quiz_btn{
  margin: 0;
   position: absolute;
   top: 90%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}

/*Container storing the trial questions*/
.quiz-container{
  position: relative;
  height: 250px;
  background-color: #F5F5F5;
  margin-top: -750px;
  margin-left: 600px;
  width: 500px;
  border: 2px solid #111 ;
}

/*Initial quiz container with text to whether try questions before signing up*/
.outer-container{
  position: relative;
  height: 250px;
  margin-top: -750px;
  margin-left: 600px;
  width: 500px;
  border: 2px solid #000 ;
  border-color: #000000;
}

/*Buttons for respective chapter topics when user is signed in*/
.english-btn{
  margin: auto;
  margin-left: 150px;
  margin-top: 200px;
  width: 200px;
  height: 150px;
  border-radius: 20px;
  background-color: #90EE90;
}

.maths-btn{
  margin: auto;
  margin-left: 120px;
  margin-top: 200px;
  width: 200px;
  height: 150px;
  border-radius: 20px;
  background-color: #FF6347;
}

.vr-btn{
  margin: auto;
  margin-left: 100px;
  margin-top: 200px;
  width: 200px;
  height: 150px;
  border-radius: 20px;
  background-color: #EE82EE;
}

.non_VR-btn{
  margin: auto;
  margin-left: 100px;
  margin-top: 200px;
  width: 200px;
  height: 150px;
  border-radius: 20px;
  background-color: #AFEEEE;
}

/*size images inside each button to represent topic/ sub topic*/
.topic{
     display: inline-block;
     float:center;
     width:50%;
     height:55%
}

/*Sub topic buttons for each topic*/
/*1 meaning they are the buttons on the first line*/
/*2 meaning they are the buttons on the second line*/
.english1-btn{
  margin: auto;
  margin-left: 150px;
  margin-top: 100px;
  width: 170px;
  height: 120px;
  border-radius: 20px;
  background-color: #90EE90;
}

.english2-btn{
  margin: auto;
  margin-left: 150px;
  margin-top: 100px;
  width: 170px;
  height: 120px;
  border-radius: 20px;
  background-color: #90EE90;
}

.maths1-btn{
  margin: auto;
  margin-left: 150px;
  margin-top: 100px;
  width: 170px;
  height: 120px;
  border-radius: 20px;
  background-color: #FF6347;
}

.maths2-btn{
  margin: auto;
  margin-left: 150px;
  margin-top: 100px;
  width: 170px;
  height: 120px;
  border-radius: 20px;
  background-color: #FF6347;
}

.vr1-btn{
  margin: auto;
  margin-left: 150px;
  margin-top: 100px;
  width: 170px;
  height: 120px;
  border-radius: 20px;
  background-color:#EE82EE;
}

.vr2-btn{
  margin: auto;
  margin-left: 150px;
  margin-top: 100px;
  width: 170px;
  height: 120px;
  border-radius: 20px;
  background-color: #EE82EE;
}


.non-vr1-btn{
  margin: auto;
  margin-left: 150px;
  margin-top: 100px;
  width: 170px;
  height: 120px;
  border-radius: 20px;
  background-color:#AFEEEE;
}

.non-vr2-btn{
  margin: auto;
  margin-left: 150px;
  margin-top: 100px;
  width: 170px;
  height: 120px;
  border-radius: 20px;
  background-color: #AFEEEE;
}
